@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-lh-purple: #bc13fe;
  --color-lh-dark: #050505;

  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;

  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  --animate-float-glow: floatGlow 3s ease-in-out infinite;

  @keyframes floatGlow {

    0%,
    100% {
      transform: translateY(0);
      filter: drop-shadow(0 0 10px rgba(188, 19, 254, 0.4));
    }

    50% {
      transform: translateY(-10px);
      filter: drop-shadow(0 0 30px rgba(188, 19, 254, 0.8));
    }
  }

  @keyframes glow {

    0%,
    100% {
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.6),
        0 0 15px rgba(188, 19, 254, 0.4);
    }

    50% {
      text-shadow: 0 0 15px rgba(255, 255, 255, 0.9),
        0 0 25px rgba(188, 19, 254, 0.7),
        0 0 35px rgba(188, 19, 254, 0.5);
    }
  }

  @keyframes slideRight {

    0%,
    100% {
      transform: translateX(0);
      opacity: 1;
    }

    50% {
      transform: translateX(4px);
      opacity: 0.7;
    }
  }
}

@utility word-spaced {
  word-spacing: 1rem;
}

@layer base {
  body {
    @apply bg-lh-dark text-white font-plus-jakarta overflow-x-hidden;
  }
}

.bg-hero-main {
  background-image: linear-gradient(rgba(5, 5, 5, 0.7), rgba(5, 5, 5, 0.8)), url('./assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-defense {
  background-image: linear-gradient(rgba(5, 5, 5, 0.2), rgba(5, 5, 5, 0.515)), url('./assets/images/defense-bg.png');
  background-size: cover;
  background-position: center;
}

.mask-gradient {
  mask-image: linear-gradient(to top, transparent, black 70%);
  -webkit-mask-image: linear-gradient(to top, transparent, black 70%);
}

.mask-gradient-top {
  mask-image: linear-gradient(to bottom, transparent, black 25%);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 25%);
}

.outline-text {
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.7);
  color: transparent;
  font-weight: 900;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(188, 19, 254, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(188, 19, 254, 0.5);
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(188, 19, 254, 0.7);
  background-clip: padding-box;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(188, 19, 254, 0.3) rgba(255, 255, 255, 0.02);
}